{% extends "base.html" %}
{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1" charset=utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/github-markdown.css')}}" type="text/css">
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>
    <article class="markdown-body ">
        <h1>pyecharts</h1>
        <p><a href="https://travis-ci.org/chenjiandongx/pyecharts"><img alt="Build Status" src="https://travis-ci.org/chenjiandongx/pyecharts.svg?branch=master" /></a> <a href="https://codecov.io/gh/chenjiandongx/pyecharts"><img alt="codecov" src="https://codecov.io/gh/chenjiandongx/pyecharts/branch/master/graph/badge.svg" /></a> <a href="https://badge.fury.io/py/pyecharts"><img alt="PyPI version" src="https://badge.fury.io/py/pyecharts.svg" /></a> <a href="https://opensource.org/licenses/MIT"><img alt="License: MIT" src="https://img.shields.io/badge/License-MIT-yellow.svg" /></a></p>
        <h2>关于项目</h2>
        <p>pyecharts 是一个用于生成 Echarts 图表的类库。<a href="https://github.com/ecomfe/echarts">Echarts</a> 是百度开源的一个数据可视化 JS 库。用 Echarts 生成的图可视化效果非常棒，为了与 Python 进行对接，方便在 Python 中直接使用数据生成图，我写了这个项目。</p>
        <p>本网站只是用于展示使用 pyecharts 生成的图的效果，如果您对项目感兴趣，可前往 <a href="https://github.com/pyecharts/pyecharts">pyecharts/pyecharts</a> 了解更多内容</p>
        <p>BTW: 这个网站是用 Flask+pyecharts 写的，并部署在 Heroku。本网站源码在 <a href="https://github.com/pyecharts/pyecharts-app">pyecharts/pyecharts-app</a> </p>
        <h2>关于作者</h2>
        <p>目前项目由我和另外两位开发者三人共同维护
        <ul>
            <li> <a href="https://github.com/chenjiandongx">https://github.com/chenjiandongx</a></li>
            <li> <a href="https://github.com/chfw">https://github.com/chfw</a></li>
            <li> <a href="https://github.com/kinegratii">https://github.com/kinegratii</a></li>
        </ul>
        <p>在这里也要感谢所有对 pyecharts 做出过贡献的人，是你们帮助和推动了项目的发展，衷心感谢！</p>
    </article>
    <footer class="container-fluid foot-wrap">
        <p align="center" style="margin-top: 20px;color:#878B91;">
            Copyright &copy; 2017 chenjiandongx
        </p>
    </footer>
{% endblock %}
